@import url("submit.css");
@import url("dropdown.css");
@import url("checkbox.css");
@import url("popup.css");

/* Main style sheet */

/******************************
						GENERAL
******************************/

/* remove browser margins */
html, body {
	margin:0;
	padding:0;
	height: 100%;
}

html {
	position: relative;
}

body {
	font-family: 'Open Sans', sans-serif;
	min-height: 1000px;
	height: 100%;
}

a {
	text-decoration: none;
}

h2 {
	margin: 0.5em 0 0.5em 1em;
}

h3 {
	margin: 0.5em 0 0.5em 1em;
}


/******************************
						HEADER
******************************/

header {
	float: left;
	width: 100%;
	margin-bottom: 1px;
}

#program-name {
	text-align: center;
	/*padding-top: 30px;*/
}

#course-builder-header {
	float: left;
	width: 50%;
}

#login {
	float: right;
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;
	color: #5A0909;
}

#login:hover {
	color: #FFF;
}

/******************************
							BODY
******************************/

#container {
	float: left;
	/*min-height: 100%;*/
	height: 100%;
	width: 100%;
}


/******************************
				PROGRAM SELECT
******************************/

.program-select {
	padding: 10px;
	width: 617px;
	margin: 0 auto;
}

#program-select-title {
	padding: 10px 4px;
}

#program-select-dd {
	float: left;
	width: 400px;
	z-index: 1000;
}

#year-select-dd {
	float: right;
	width: 140px;
	height: 100%;
	margin-top: 10px;
}

#program-select-onpattern {
	padding-top: 55px;
}


/******************************
				PROGRAM SELECT
******************************/
.course-number {
	font-family: Arial, Sans-Serif;
	font-size: 16pt;
	color: #222;
	margin-top: 0px;
	margin-left: 10px;
	float: left;
	padding: 9px;
	width: 25px;
	text-align: center;
}


/******************************
					COURSE TABLE
******************************/

#course-table {
	margin: 0 auto;
	margin-top: 20px;
	width: 80%;
}

#course-table table th {
	border: 1px solid black;
}

#course-header-year th {
	background-color: black;
	width: 10%;
}

#course-header-term th {
	width: 8%;
}

#course-classes-table td {
	text-align: center;
	height: 100px;
	border: 1px solid black;
	color: black;
	cursor: pointer;
}

#course-classes-table td:hover {
	background-color: grey;
	color: white;
}

.cellShading {
	background-color: #BDC3C7;
}

/* Highlight when selected */
.highlight {
	background-color: red;
	color: yellow; 
}

/******************************
					TIME TABLE
******************************/

#timetable {
	width: 80%;
	float:left;
	height: 100%;
	min-height: 1000px;
}

#timetable table th {
	width: 12.5%;
	padding: 5px 5px 5px 5px;
	font-family: Oswald, Arial, sans-serif;
	font-weight: normal;
}

#timetable table {
	width: 100%;
	height: 100%;
	min-height: 1010px;
	table-layout: fixed;
}

#timetable-header-weekdays th {
	background-color: black;
	height: 40px;
}

.cellShading-2 {
	background-color: white;
	color: black;
	border-bottom: 1px solid lightgray;
	border-right: 1px solid lightgray;
	padding: 5px;
	overflow: hidden;
	height: 20px;
}

#course {
	background-color: #C3C3C3;
}


/******************************
						SIDEBAR
******************************/
.displayBanner {
	border: solid #005776 1px;
	background-color: #00A5DF;
	color: #005776;
	padding: 10px 10px 10px 10px;
	font-size: 12pt;
}


/******************************
						SIDEBAR
******************************/

#sidebar-wrapper {
	margin: 0 auto;
	width: 20%;
	float: right;
	height: 100%;
	background-color: darkgrey;

	
	/*margin: 5px 5px 5px 5px;*/
}

/******************************
						FOOTER
******************************/

footer {
	float: left;
	width: 100%;
	font-size: 10pt;
}

.page-footer-content {
	min-height: 120px;
}

.page-footer-content ul {
	list-style: none;
	float: left;
}

.page-footer-content ul li a:hover {
	color: #404040;
}

.page-footer-trademark {
	padding: 0.1em;
	padding-left: 12px;
	background-color: #202020; /* dark grey */
}


/******************************
					PAGE GRID
******************************/

.col-1-5 {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-4-5 {
	width: 80%;
}

.col-1-1 {
	width: 100%;
}


/******************************
						COLORS
******************************/

/* site body */
body {
	background-color: #333;
	color: #999;
}

/* red header */
header {
	background: #C0392B;
}

/* header text */
h3 {
	color: #fff;
}

/* black footer */
footer {
	background: #000;
}

/* footer links */
footer a {
	color: white;	
}


/******************************
				COURSE COLORS
******************************/
/*
.MATH, .STAT {
	border: 3px solid green;
}

.PHYS, .CHEM, .COMP {
	border: 3px solid yellow;
}

.SYSC {
	border: 3px solid purple;
}

.ECOR, .CCDP {
	border: 3px solid black;
}

.ELEC {
	border: 3px solid orange;
}*/

/* elective */
/*.ETIV {
	border: 3px solid gray;
}*/
