/* Main style sheet */

/******************************
						GENERAL
******************************/

/* remove browser margins */
html, body, div {
	margin:0;
	padding:0;
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

h3 {
	margin: 0.5em 0 0.5em 1em;
}


/******************************
						HEADER
******************************/

header {
	float: left;
	width: 100%;
}


/******************************
							BODY
******************************/

#container {
	float: left;
	min-height: 100%;
	width: 100%;
	padding: 50px;
}


/******************************
						FOOTER
******************************/

footer {
	float: left;
	width: 100%;
	font-size: 10pt;
}

.page-footer-content {
	min-height: 120px;
}

.page-footer-content ul {
	list-style: none;
	float: left;
}

.page-footer-trademark {
	padding: 0.1em;
	padding-left: 12px;
	background-color: #202020;
}


/******************************
					PAGE GRID
******************************/

.col-1-5 {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-4-5 {
	width: 80%;
}

.col-1-1 {
	width: 100%;
}


/******************************
						COLORS
******************************/

/* site body */
body {
	/*background-color: #fff;*/
	background-color: #444;
	color: #999;
}

/* red header */
header {
	background: #C0392B;
}

/* header text */
h3 {
	color: #fff;
}

/* black footer */
footer {
	background: #000;
}

/* footer links */
footer a {
	color: white;	
}