/* DEMO 5 */

.wrapper-dropdown:focus {
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown:focus:after {
    border-color: #82d1ff transparent;
}

.wrapper-dropdown:focus .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}