.blackOverlay {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1002;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.popupContent {
	display: none;
	position: fixed;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	background-color: white;
	z-index:1003;
	overflow: auto;
}

.popupHeader {
	float: left;
	font-size: 32pt;
	font-weight: bold;
	width: 100%;
	color: #444; 
}

.popupSubHeader {
	float: left;
	width: 100%;
	padding-bottom: 5px;
}

.electivesList {
	width: 100%;
	height: 70%;
	overflow-y: scroll;
	background-color: #EEEEEE;
}

.elective {
	color: #666;
	font-size: 12pt;
	padding: 5px 0px 5px 5px;
}

.elective:hover {
	color: #FFF;
	cursor: pointer;
	background-color: #C0392B;
}

.closeButton {
	margin-top: 2px;
	float: right;
}

.closeButton:hover {
	color: #000;
	font-weight: bold;
	cursor: pointer;
}